node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#.env

# OS-related
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Optional npm cache
.npm/

# Coverage reports
coverage/

# Build output (if any)
dist/
